{{ define "main"}}
<!-- banner-area -->
<section class="banner-area-four banner-bg-four">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-6 col-md-10 order-0 order-lg-2">
                <div class="banner-img-four text-end">
                    <img src="assets/images/ubss_guards_banner.png" alt="" data-aos="fade-left" data-aos-delay="400">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="banner-content-four">
                    <span class="sub-title" data-aos="fade-up" data-aos-delay="0">Universal Bodyguard & Security
                        Services</span>
                    <h2 class="title" data-aos="fade-up" data-aos-delay="200">19 Years of Service Excellence</h2>
                    <p data-aos="fade-up" data-aos-delay="400">Providing Qualified and Well Trained Ex Gurkha, Ex Nepal
                        Police Ex Nepal Army, Ex Gurkha Indian Army and other qualified Security Guards to our valuable
                        Customers all over the world.</p>
                    <a href="/services" class="btn btn-three" data-aos="fade-up" data-aos-delay="600">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape-wrap-four">
        <img src="assets/img/banner/h4_banner_shape01.png" alt="">
        <img src="assets/img/banner/h4_banner_shape02.png" alt="" data-aos="zoom-in" data-aos-delay="600">
        <img src="assets/images/ubss-emblem-ttt.png" alt="" data-aos="zoom-in-up" data-aos-delay="800">
    </div>
</section>
<!-- banner-area-end -->

<!-- features-area -->
<section class="features-area-four">
    <div class="container">
        <div class="features-item-wrap-four">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="features-item-four">
                        <div class="features-icon-four">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="features-content-four">
                            <h4 class="title">Security Services</h4>
                            <p>UBSS provides a range of Security Guard Services for your home and office.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="features-item-four">
                        <div class="features-icon-four">
                            <i class="fa fa-lock "></i>
                        </div>
                        <div class="features-content-four">
                            <h4 class="title">Security Devices</h4>
                            <p>CCTV Camera, Real-time remote monitoring system, recording solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="features-item-four">
                        <div class="features-icon-four">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="features-content-four">
                            <h4 class="title">Security Trainings</h4>
                            <p>Modern, Complete, and Practical Training Program to become a Certified Guard.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features-area-end -->

{{ partial "about.html" . }}


<!-- services-area -->
<section class="services-area-three" style="padding-top: 50px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title-two mb-50 tg-heading-subheading animation-style2">
                    <span class="sub-title tg-element-title">Our Services</span>
                    <h2 class="title tg-element-title">Qualified Security Guards To Our Valuable Customers All Over The
                        World</h2>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-4">
                <div class="view-all-btn text-end mb-30">
                    <a href="/services" class="btn transparent-btn-two">See All Service</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                <div class="services-item-three">
                    <div class="services-thumb-three">
                        <a href="/services"><img src="assets/images/security-guard.jpg" alt=""></a>
                    </div>
                    <div class="services-content-three">
                        <div class="services-icon">
                            <i class="fa fa-shield-alt"></i>

                        </div>
                        <h4 class="title"><a href="/services">Uniformed Guard</a></h4>
                        <p>Well trained guards to deter unauthorized person/s from gaining unlawful entry into your
                            business/home.</p>
                        <div class="overlay-icon">
                            <i class="fa fa-shield-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                <div class="services-item-three">
                    <div class="services-thumb-three">
                        <a href="/services"><img src="assets/images/event-security.jpg" alt=""></a>
                    </div>
                    <div class="services-content-three">
                        <div class="services-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <h4 class="title"><a href="/services">Event Security</a></h4>
                        <p>Mass event management professionals can provide unparalleled safety, security, and
                            protection.</p>
                        <div class="overlay-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                <div class="services-item-three">
                    <div class="services-thumb-three">
                        <a href="/services"><img src="assets/images/bodyguard-security.jpg" alt=""></a>
                    </div>
                    <div class="services-content-three">
                        <div class="services-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h4 class="title"><a href="/services">Bodyguard Service</a></h4>
                        <p>Close protection services for corporate executives, political officials, National and
                            International dignitaries.</p>
                        <div class="overlay-icon">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                <div class="services-item-three">
                    <div class="services-thumb-three">
                        <a href="/services"><img src="assets/images/home-security.jpg" alt=""></a>
                    </div>
                    <div class="services-content-three">
                        <div class="services-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <h4 class="title"><a href="/services">Home Security</a></h4>
                        <p>Real-time Home Security Monitoring System of your office or home 24/7. Guards & Equipments
                        </p>
                        <div class="overlay-icon">
                            <i class="fa fa-home"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="container" style="text-align:center; margin-bottom: 30px">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xyMzMujzSMY?si=jSlbj26ylXY8WtYj"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<!-- services-area-end -->

{{ end}}
