<!-- about-area -->
<section class="about-area-five" style="padding-top: 30px; padding-bottom: 40px;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="about-img-wrap-five">
                    <img src="/assets/images/ubss-building.jpg" alt="">
                    <div class="experience-wrap">
                        <h2 class="title">19 <span>Years Of Experience</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="about-content-five">
                    <div class="section-title-two mb-30 tg-heading-subheading animation-style2">
                        <span class="sub-title tg-element-title">Universal Bodyguard and Security Service</span>
                        <h2 class="title tg-element-title">The Trusted Name in Security Services</h2>
                    </div>
                    <p>Founded by a group of professionals, Universal Bodyguard and Security Service (UBSS), with the
                        motto – “Your Security, Our Duty” is run under the leadership of founder Chairman Mr. Sitkar
                        Rajbhandari (President/founder – Nepal Aikido Association of Nepal, former vice president and
                        founder of Nepal Taekwondo Association & former president Nepal Wushu Association) is a pioneer
                        in the field of Martial Arts in Nepal..</p>
                    <div class="about-content-bottom">
                        <div class="about-list">
                            <ul class="list-wrap">
                                <li><i class="fas fa-arrow-right"></i>100% Professional</li>
                                <li><i class="fas fa-arrow-right"></i>Martial Art Pioneer</li>
                                <li><i class="fas fa-arrow-right"></i>Trusted By Many</li>
                                <li><i class="fas fa-arrow-right"></i>In Nepal and Abroad</li>
                            </ul>
                        </div>
                        <div class="about-success-wrap">
                            <ul class="list-wrap">
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-family"></i>
                                    </div>
                                    <div class="content">
                                        <h2 class="count"><span class="odometer" data-count="250"></span>+</h2>
                                        <p>Happy Customers</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-trophy"></i>
                                    </div>
                                    <div class="content">
                                        <h2 class="count"><span class="odometer" data-count="10000"></span>+</h2>
                                        <p>Guards Provided</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape-five">
        <img src="/assets/img/images/h4_about_shape.png" alt="">
    </div>
</section>
<!-- about-area-end -->
