<!-- footer-area -->
<!-- brand-area -->
<div class="brand-aera-four">
    <div class="container">
        <div class="brand-item-wrap-two" style="padding-top: 30px; padding-bottom: 0;">
            <div class="row brand-active">
                <div class="col-lg-12">
                    <div class="brand-item">
                        <img src="/assets/images/chha2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-item">
                        <img src="/assets/images/china2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-item">
                        <img src="/assets/images/dreampalace2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-item">
                        <img src="/assets/images/everest2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-item">
                        <img src="/assets/images/glenbud2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-item">
                        <img src="/assets/images/hansa2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-item">
                        <img src="/assets/images/mach2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="brand-item">
                        <img src="/assets/images/orchid2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area-end -->
<footer>
    <div class="footer-area-two footer-bg-two">
        <div class="footer-top-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-6">
                        <div class="footer-widget">
                            <div class="fw-logo">
                                <a href="/"><img src="/assets/img/logo/logo-light.png" alt=""></a>
                            </div>
                            <div class="footer-content">
                                <p>
                                <p>Sujan Marg-28<br />
                                    Khursanitar, Lazimpat<br />
                                    Kathmandu, Nepal</p>
                                </p>
                                <div class="footer-info">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <div class="content">
                                                <a href="tel:0123456789">+977 1 4001743</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-clock"></i>
                                            </div>
                                            <div class="content">
                                                <p>Sun – Sat: 8 am – 7 pm</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">Menu</h4>
                            <div class="footer-link">
                                <ul class="list-wrap">
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/services">Services</a></li>
                                    <li><a href="/devices">Device & Equipments</a></li>
                                    <li><a href="/trainings">Trainings</a></li>
                                    <li><a href="/vacancy">Vacancy</a></li>
                                    <li><a href="/blogs">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-7">
                        <div class="footer-widget">
                            <h4 class="fw-title">Our Newsletter</h4>
                            <div class="footer-newsletter">
                                <p>Sign up to our monthly newsletter to get the latest updates.</p>
                                <form action="about-4.html#">
                                    <input type="email" placeholder="enter your e-mail">
                                    <button type="submit">Subscribe</button>
                                </form>
                                <div class="footer-social footer-social-two">
                                    <ul class="list-wrap">
                                        <li><a href="https://www.facebook.com/profile.php?id=100063718170050"><i
                                                    class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.facebook.com/profile.php?id=100063718170050"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/profile.php?id=100063718170050"><i
                                                    class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com/profile.php?id=100063718170050"><i
                                                    class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text-two text-center">
                            <p>Copyright © UBSS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->


<!-- JS here -->
<script src="{{ "/assets/js/vendor/jquery-3.6.0.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/jquery.magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/jquery.odometer.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/jquery.appear.js" | relURL }}"></script>
<script src="{{ "/assets/js/gsap.js" | relURL }}"></script>
<script src="{{ "/assets/js/ScrollTrigger.js" | relURL }}"></script>
<script src="{{ "/assets/js/SplitText.js" | relURL }}"></script>
<script src="{{ "/assets/js/gsap-animation.js" | relURL }}"></script>
<script src="{{ "/assets/js/jarallax.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/jquery.parallaxScroll.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/particles.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/jquery.easypiechart.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/jquery.inview.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/swiper-bundle.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/slick.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/ajax-form.js" | relURL }}"></script>
<script src="{{ "/assets/js/aos.js" | relURL }}"></script>
<script src="{{ "/assets/js/wow.min.js" | relURL }}"></script>
<script src="{{ "/assets/js/main.js" | relURL }}"></script>
<script>
    function rangeSlide(value) {
        document.getElementById('rangeValue').innerHTML = value;
        document.getElementById('rangeValueTwo').innerHTML = value;
        document.getElementById('rangeValueThree').innerHTML = value;
        document.getElementById('rangeValueFour').innerHTML = value;
    }
</script>