<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title section-title-three text-center mb-50">
                    <span class="sub-title">Management</span>
                    <h2 class="title">Team Members</h2>
                    <!-- <p></p> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-4 col-6">
                <div class="team-item-five">
                    <div class="team-thumb-five">
                        <img src="/assets/images/sitkar-rajbhandari-ubss.jpg" alt="">
                    </div>
                    <div class="team-content-five">
                        <h2 class="title"><a href="#l">Sitkar Raj Bhandari</a></h2>
                        <span>Chairman</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
                <div class="team-item-five">
                    <div class="team-thumb-five">
                        <img src="/assets/images/mahesh-bikram-kunwar-ubss.jpg" alt="">
                    </div>
                    <div class="team-content-five">
                        <h2 class="title"><a href="#l">Mahesh Bikram Kunwar</a></h2>
                        <span>Vice-chairman</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
                <div class="team-item-five">
                    <div class="team-thumb-five">
                        <img src="/assets/images/manohar-kunwar.jpg" alt="">
                    </div>
                    <div class="team-content-five">
                        <h2 class="title"><a href="#l">Manohar Kunwar</a></h2>
                        <span>Director</span>

                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
                <div class="team-item-five">
                    <div class="team-thumb-five">
                        <img src="/assets/images/rajesh-kumar-karn.jpg" alt="">
                    </div>
                    <div class="team-content-five">
                        <h2 class="title"><a href="#l">Rajesh Kumar Lal Karn</a></h2>
                        <span>Operation Director</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
                <div class="team-item-five">
                    <div class="team-thumb-five">
                        <img src="/assets/images/henry_bobby.webp" alt="">
                    </div>
                    <div class="team-content-five">
                        <h2 class="title"><a href="#l">Henry Bobby Timothy</a></h2>
                        <span>CEO</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-6">
                <div class="team-item-five">
                    <div class="team-thumb-five">
                        <img src="/assets/images/vaskar-rajbhandari-ubss.jpg" alt="">
                    </div>
                    <div class="team-content-five">
                        <h2 class="title"><a href="#l">Mr Vaskar Rajbhandari</a></h2>
                        <span>Managing Director</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
