{{ define "meta" }}
<title>{{ .Params.title }}</title>
{{ end }}


{{ define "main" }}
<div class="container" style="padding-top: 30px;">

    <h2>Trainings</h2>

    <div class="et_pb_text_inner">
        <p>Our Chief Training Instructor</p>
        <h2><strong>SUBASH RAI</strong></h2>
        <p>A retired British Gurkha (Ex-2RGR) and veteran Security Trainer, who served in the British Army for 19 years
            with exemplary service and holder of the Military Long Service and Good Conduct Medal. Trained in security
            in UK and Dubai and served at US Embassy and British Embassy in Nepal as a Security Manager. Qualified and
            skilled in technical and managerial courses, and have long-term experience in teaching as well as training
            others. Served in Hong Kong, Brunei, the UK, Falkland Island, and the USA.</p>
 
    </div>




<div class="et_pb_section et_pb_section_2 et_section_regular">






    <div class="et_pb_row et_pb_row_1">
        <div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">




            <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">




                <div class="et_pb_text_inner">
                    <h2><strong>UBSS TRAINING PROGRAMME</strong></h2>
                </div>
            </div>
        </div>




    </div>
    <div class="et_pb_row et_pb_row_2">
        <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">




            <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">




                <div class="et_pb_text_inner">
                    <table border="1" style="border-collapse: collapse; width: 100%; height: 1127px;">
                        <tbody>
                            <tr style="height: 24px;">
                                <td style="height: 24px; width: 10%; text-align: center;">DAY</td>
                                <td style="height: 24px; width: 10%; text-align: center;">SN</td>
                                <td style="height: 24px; width: 20%; text-align: center;">TIME</td>
                                <td style="height: 24px; width: 60%;">PARTICULARS</td>
                            </tr>
                            <tr style="height: 48px;">
                                <td style="height: 144px; width: 10%; text-align: center; background-color: #efefef;"
                                    rowspan="5">1</td>
                                <td style="height: 48px; width: 10%; background-color: #efefef; text-align: center;">1
                                </td>
                                <td style="height: 48px; width: 20%; background-color: #efefef; text-align: center;">
                                    10:00 – 11:00</td>
                                <td style="height: 48px; width: 60%; background-color: #efefef;">Assemble, Initial
                                    Safety and Admin brief<br>Opening Address</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="height: 24px; width: 10%; background-color: #efefef; text-align: center;">2
                                </td>
                                <td style="height: 24px; width: 20%; background-color: #efefef; text-align: center;">
                                    11:00- 12:00</td>
                                <td style="height: 24px; width: 60%; background-color: #efefef;">What is Security</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="height: 24px; width: 10%; background-color: #efefef; text-align: center;">3
                                </td>
                                <td style="height: 24px; width: 20%; background-color: #efefef; text-align: center;">
                                    12:00 – 13:00</td>
                                <td style="height: 24px; width: 60%; background-color: #efefef;">Break</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="height: 24px; width: 10%; background-color: #efefef; text-align: center;">4
                                </td>
                                <td style="height: 24px; width: 20%; background-color: #efefef; text-align: center;">
                                    13:00 – 15:30</td>
                                <td style="height: 24px; width: 60%; background-color: #efefef;">a. Definition<br>b.
                                    Particular Risks to Security<br>c. Functions &amp; Duties of a Security Guards</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="height: 24px; width: 10%; background-color: #efefef; text-align: center;">5
                                </td>
                                <td style="height: 24px; width: 20%; background-color: #efefef; text-align: center;">
                                    15:30 – 16:00</td>
                                <td style="height: 24px; width: 60%; background-color: #efefef;">Emergency number</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="height: 216px; width: 10%; text-align: center;" rowspan="5">2</td>
                                <td style="height: 24px; width: 10%; text-align: center;">1</td>
                                <td style="height: 24px; width: 20%; text-align: center;">10:00 – 11:00</td>
                                <td style="height: 24px; width: 60%;">Drill</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 24px; text-align: center;">2</td>
                                <td style="width: 20%; height: 24px; text-align: center;">11:10 – 12:00</td>
                                <td style="width: 60%; height: 24px;">Code of Conduct</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 24px; text-align: center;">3</td>
                                <td style="width: 20%; height: 24px; text-align: center;">12:00 – 13:00</td>
                                <td style="width: 60%; height: 24px;">Break</td>
                            </tr>
                            <tr style="height: 48px;">
                                <td style="width: 10%; height: 48px; text-align: center;">4</td>
                                <td style="width: 20%; height: 48px; text-align: center;">13:00 – 14:30</td>
                                <td style="width: 60%; height: 48px;">Code of Conduct<br>a. Misuse of Code of Conduct by
                                    Security Guards</td>
                            </tr>
                            <tr style="height: 96px;">
                                <td style="width: 10%; height: 96px; text-align: center;">5</td>
                                <td style="width: 20%; height: 96px; text-align: center;">14:40 – 16:00</td>
                                <td style="width: 60%; height: 96px;">Personal Search<br>a. Quick Search<br>b. Detail
                                    Search<br>c. Considerations during the search</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 192px; text-align: center; background-color: #efefef;"
                                    rowspan="5">3</td>
                                <td style="width: 10%; height: 24px; background-color: #efefef; text-align: center;">1
                                </td>
                                <td style="width: 20%; height: 24px; background-color: #efefef; text-align: center;">
                                    10:00 – 11:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">Drill</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 24px; background-color: #efefef; text-align: center;">2
                                </td>
                                <td style="width: 20%; height: 24px; background-color: #efefef; text-align: center;">
                                    11:10 – 12:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">Health &amp; Safety
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 24px; background-color: #efefef; text-align: center;">3
                                </td>
                                <td style="width: 20%; height: 24px; background-color: #efefef; text-align: center;">
                                    12:00 – 13:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">Break</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 24px; background-color: #efefef; text-align: center;">4
                                </td>
                                <td style="width: 20%; height: 24px; background-color: #efefef; text-align: center;">
                                    13:00 – 14:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">Health &amp;
                                    Safety,&nbsp; Hazard Identification</td>
                            </tr>
                            <tr style="height: 96px;">
                                <td style="width: 10%; height: 96px; background-color: #efefef; text-align: center;">5
                                </td>
                                <td style="width: 20%; height: 96px; background-color: #efefef; text-align: center;">
                                    14:10 – 16:00</td>
                                <td style="width: 60%; height: 96px; background-color: #efefef;">Access Control<br>a.
                                    Access Control Area<br>b. Reason to control Access Point<br>c. Duty of Guard at
                                    Access Control</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 120px; text-align: center;" rowspan="5">4</td>
                                <td style="width: 10%; height: 24px; text-align: center;">1</td>
                                <td style="width: 20%; height: 24px; text-align: center;">10:00 – 11:00</td>
                                <td style="width: 60%; height: 24px;">Drill/Close Combat Techique</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">2</td>
                                <td style="width: 20%; text-align: center; height: 24px;">11:10 – 12:00</td>
                                <td style="width: 60%; height: 24px;">Observation</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">3</td>
                                <td style="width: 20%; text-align: center; height: 24px;">12:00 – 13:00</td>
                                <td style="width: 60%; height: 24px;">Break</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">4</td>
                                <td style="width: 20%; text-align: center; height: 24px;">13:00 – 14:00</td>
                                <td style="width: 60%; height: 24px;">Observation Test</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">5</td>
                                <td style="width: 20%; text-align: center; height: 24px;">14:10 – 16:00</td>
                                <td style="width: 60%; height: 24px;">KIMs Game Test</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 119px; text-align: center; background-color: #efefef;"
                                    rowspan="5">5</td>
                                <td style="width: 10%; text-align: center; height: 24px; background-color: #efefef;">1
                                </td>
                                <td style="width: 20%; text-align: center; height: 24px; background-color: #efefef;">
                                    10:00 – 11:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">Drill</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px; background-color: #efefef;">2
                                </td>
                                <td style="width: 20%; text-align: center; height: 24px; background-color: #efefef;">
                                    11:00 – 12:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">IED<br>&nbsp; &nbsp;a.
                                    Component<br>&nbsp; &nbsp;b. Reason for use<br>&nbsp; &nbsp;c. Type of
                                    switch<br>&nbsp; d. Action to be taken</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 23px; background-color: #efefef;">3
                                </td>
                                <td style="width: 20%; text-align: center; height: 23px; background-color: #efefef;">
                                    12:00 – 13:00</td>
                                <td style="width: 60%; height: 23px; background-color: #efefef;">Break</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px; background-color: #efefef;">4
                                </td>
                                <td style="width: 20%; text-align: center; height: 24px; background-color: #efefef;">
                                    13:00 – 14:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">Action Practice in
                                    Groups</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px; background-color: #efefef;">5
                                </td>
                                <td style="width: 20%; text-align: center; height: 24px; background-color: #efefef;">
                                    14:10 – 16:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">FIRE<br>&nbsp; &nbsp;a.
                                    Classification of fire<br>&nbsp; &nbsp;b. The stages of fire<br>&nbsp; &nbsp;c. Fire
                                    Spread<br>&nbsp; &nbsp;d. Action in the event of fire</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 120px; text-align: center;" rowspan="5">6</td>
                                <td style="width: 10%; text-align: center; height: 24px;">1</td>
                                <td style="width: 20%; text-align: center; height: 24px;">10:00 – 11:00</td>
                                <td style="width: 60%; height: 24px;">Drill</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">2</td>
                                <td style="width: 20%; text-align: center; height: 24px;">11:00 – 12:00</td>
                                <td style="width: 60%; height: 24px;">Patrolling</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">3</td>
                                <td style="width: 20%; text-align: center; height: 24px;">12:00 – 13:00</td>
                                <td style="width: 60%; height: 24px;">Break</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">4</td>
                                <td style="width: 20%; text-align: center; height: 24px;">13:00 – 14:00</td>
                                <td style="width: 60%; height: 24px;">&nbsp; &nbsp;a. Objective of Patrolling
                                    Premises<br>&nbsp; &nbsp;b. What to look for<br>&nbsp; &nbsp;c. Types of
                                    Patrolling<br>&nbsp; &nbsp;d. Aids to Security Patrolling</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">5</td>
                                <td style="width: 20%; text-align: center; height: 24px;">14:10 – 16:00</td>
                                <td style="width: 60%; height: 24px;">Report Writing<br>Guide to Report
                                    Writing<br>Practice</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; height: 72px; text-align: center; background-color: #efefef;"
                                    rowspan="3">7</td>
                                <td style="width: 10%; text-align: center; height: 24px; background-color: #efefef;">1
                                </td>
                                <td style="width: 20%; text-align: center; height: 24px; background-color: #efefef;">
                                    10:00 – 12:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">First Aid
                                    Training<br>&nbsp; &nbsp;a. Principal<br>&nbsp; &nbsp;b. Bleeding<br>&nbsp; &nbsp;c.
                                    Fracture<br>&nbsp; &nbsp;d. Burn<br>&nbsp; &nbsp;e. CPR<br>&nbsp; &nbsp;f. Use of
                                    Triangular Bandages</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px; background-color: #efefef;">2
                                </td>
                                <td style="width: 20%; text-align: center; height: 24px; background-color: #efefef;">
                                    12:00 – 13:00</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">Break</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px; background-color: #efefef;">3
                                </td>
                                <td style="width: 20%; text-align: center; height: 24px; background-color: #efefef;">
                                    13:00 – 1600</td>
                                <td style="width: 60%; height: 24px; background-color: #efefef;">Practice in First Aid
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 120px;" rowspan="5">8</td>
                                <td style="width: 10%; text-align: center; height: 24px;">1</td>
                                <td style="width: 20%; text-align: center; height: 24px;">10:00 – 11:00</td>
                                <td style="width: 60%; height: 24px;">Drill</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">2</td>
                                <td style="width: 20%; text-align: center; height: 24px;">11:10 – 12:00</td>
                                <td style="width: 60%; height: 24px;">VHF Radio<br>&nbsp; &nbsp;a. Name of the
                                    Parts<br>&nbsp; &nbsp;b. Call Signs<br>&nbsp; &nbsp;c. Voice Procedure<br>&nbsp;
                                    &nbsp;d. Radio Discipline</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">3</td>
                                <td style="width: 20%; text-align: center; height: 24px;">12:00 – 13:00</td>
                                <td style="width: 60%; height: 24px;">Break</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">4</td>
                                <td style="width: 20%; text-align: center; height: 24px;">13:00 – 14:00</td>
                                <td style="width: 60%; height: 24px;">VHF Radio Practice</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 10%; text-align: center; height: 24px;">5</td>
                                <td style="width: 20%; text-align: center; height: 24px;">14:10: 1600</td>
                                <td style="width: 60%; height: 24px;">Vehicle Search<br>&nbsp; &nbsp;a. Search
                                    Sequence<br>&nbsp; &nbsp;b. Using Angled Mirror</td>
                            </tr>
                            <tr>
                                <td style="width: 10%; text-align: center; background-color: #efefef;" rowspan="6">9
                                </td>
                                <td style="width: 10%; text-align: center; background-color: #efefef;">1</td>
                                <td style="width: 20%; text-align: center; background-color: #efefef;">10:00 – 12:00
                                </td>
                                <td style="width: 60%; background-color: #efefef;">Log Book and ID Cards</td>
                            </tr>
                            <tr>
                                <td style="width: 10%; text-align: center; background-color: #efefef;">2</td>
                                <td style="width: 20%; text-align: center; background-color: #efefef;">12:00 – 13:00
                                </td>
                                <td style="width: 60%; background-color: #efefef;">Break</td>
                            </tr>
                            <tr>
                                <td style="width: 10%; text-align: center; background-color: #efefef;">3</td>
                                <td style="width: 20%; text-align: center; background-color: #efefef;">13:00 – 14:00
                                </td>
                                <td style="width: 60%; background-color: #efefef;">Incident Report Book</td>
                            </tr>
                            <tr>
                                <td style="width: 10%; text-align: center; background-color: #efefef;">4</td>
                                <td style="width: 20%; text-align: center; background-color: #efefef;">14:00 – 14:30
                                </td>
                                <td style="width: 60%; background-color: #efefef;">Final Written Test</td>
                            </tr>
                            <tr>
                                <td style="width: 10%; text-align: center; background-color: #efefef;">5</td>
                                <td style="width: 20%; text-align: center; background-color: #efefef;">14:30 – 14:00
                                </td>
                                <td style="width: 60%; background-color: #efefef;">AOB</td>
                            </tr>
                            <tr>
                                <td style="width: 10%; text-align: center; background-color: #efefef;">6</td>
                                <td style="width: 20%; text-align: center; background-color: #efefef;">15:00 – 17:00
                                </td>
                                <td style="width: 60%; background-color: #efefef;">Closing Address<br>Certificate
                                    Distribution</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><strong>Additional Lessons for guards going for Overseas Jobs:</strong></p>
                    <ol>
                        <li><span>Brief history about the country</span></li>
                        <li><span>Political System</span></li>
                        <li><span>People and their Culture</span></li>
                        <li><span>Transportation System</span></li>
                        <li><span>Weather</span></li>
                    </ol>
                </div>
            </div>
        </div>




    </div>


</div>
<div class="et_pb_section et_pb_section_3 et_section_regular">






    <div class="et_pb_row et_pb_row_3">
        <div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">




            <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">




                <div class="et_pb_text_inner">
                    <p>This training shall be for a minimum period of fifteen hours of classroom instruction and fifteen
                        of field training spread over at least 9 working days. (45 Hours)</p>
                    <p><strong>The training includes the following subjects:</strong></p>
                    <ol>
                        <li>Conduct in Public and correct wearing of uniform.</li>
                        <li>Interpersonal skills and its importance in work environment.</li>
                        <li>Physical fitness training.</li>
                        <li>Close combat training from the veterans of the sport.</li>
                        <li>Physical security, Security of Assets, Security of building/apartment.</li>
                        <li>Personnel security.</li>
                        <li>Fire fighting, fire extinguisher.</li>
                        <li>Crowd control.</li>
                        <li>Examining identification papers including identity cards, passports, and smart cards;</li>
                        <li>First-Aid.</li>
                        <li>Crisis response and disasters management.</li>
                        <li>Basic knowledge of Nepal Penal Code, right to private defense, the procedure for lodging
                            first information report(FIR) in the police station.</li>
                        <li>Use of security equipment and devices (for example; security alarms and screening equipment,
                            fire extinguishers).</li>
                        <li>Leadership and management (for supervisors only).</li>
                        <li>Ientification of improvised explosive devices.</li>
                        <li>Defensive driving (compulsory for the driver of an Armoured vehicle and optional for
                            others).</li>
                    </ol>
                </div>
            </div>
        </div>
        {{ end }}